= form_for [:admin, @template], html: { id: "templates_form" } do |f|
  = error_field @template

  .report_fields_div
    .field
      = f.label :title
      = f.text_field :title
    - if @template.items.exists?
      - @template.items.each do |item|
        .field
          = f.label :item_name
          = text_field_tag "template[item_name][#{item.id}][]", item.name
          %a#remove_added_field
            %i.glyphicon.glyphicon-trash
    - else
      .field
        = f.label :item_name
        = text_field_tag "template[item_name][0][]"
        %a#remove_added_field
          %i.glyphicon.glyphicon-trash
    #item_name_div

    %a.btn.btn-primary#add_new_item Add new item
    .actions
      = f.submit 'Save'
