%h1 Listing templates

%table.table
  %tr
    %th Title
    %th
    %th
    %th

  - @templates.each do |template|
    %tr
      %td= template.title
      %td= link_to 'Show', [:admin, template]
      %td= link_to 'Edit', edit_admin_template_path(template)
      %td= link_to 'Destroy', [:admin, template], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Template', new_admin_template_path
