= form_for(@report) do |f|
  = error_field @report
  = hidden_field_tag "report[template_id]", @template.id
  .field
    = f.label :title
    = f.text_field :title
  - if @template.items.exists?
    %h3= "#{@template.title} Fields"
    - @template.items.each do |item|
      .field
        = f.label item.name
        - if @report.item_values.exists?
          - @report.item_values.each do |item_value|

            - if item.id === item_value.item_id
              %div
                = text_field_tag "report[item_value][#{item.id}][]", item_value.value
                %a#remove_added_field
                  %i.glyphicon.glyphicon-trash
      %div{id:"append_input_#{item.id}"}
        = text_field_tag "report[item_value][#{item.id}][]"
        %a#remove_added_field
          %i.glyphicon.glyphicon-trash
      %div{id:"item_#{item.id}"}
      = link_to "Add addition", "#", :"data-id" => item.id, id: "add_additon_value", class: "btn btn-xs btn-primary"

  .actions
    = f.submit 'Save'
