- title "Reports"


- unless @reports.empty?
  %h1 Listing reports
  %table.table
    %tr
      %th{width: "800"} Title
      %th Template
      %th{colspan:"3"}

    - @reports.each do |report|
      %tr
        %td= report.title
        %td= report.template_obj.title
        %td= link_to 'Show', report, class:"btn btn-success"
        %td= link_to 'Edit', edit_report_path(report), class:"btn btn-info"
        %td= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"
- else
  %h1 Reports does not exists!

%br/

= link_to 'New Report', templates_reports_path, class: "btn btn-primary"
