!!!html
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : 'Report Manager'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = nav_bar :static => :top, class: "navbar-inverse" do
      = menu_group do
        = menu_item "ReportsManager", dashboard_path, class: "navbar-brand"
        - if user_signed_in?
          - if current_user.is_admin?
            = menu_item "Templates", admin_templates_path
          = menu_item "Reports", reports_path


      = menu_group :pull => :right do
        - if user_signed_in?
          = menu_item "Signed in as: #{current_user.email}", edit_user_registration_path
          = menu_item "Sign out", destroy_user_session_path, :method => :delete
        - else
          = menu_item "Sign in", new_user_session_path
    .container
      = yield
